@charset "utf-8";

/* ==========================================================================
    Main Style

    0. Framework
    1. Header
    2. Footer
    3. -
    4. -
    5. -
    6. -
    7. -
    8. -

   ========================================================================== */


/* ==========================================================================
    Framework
   ========================================================================== */
html{
    background:$base-bgcolor;
}
body{
    background:$base-bgcolor;
    color:$base-fontcolor;
    font-family:$base-fontfamily !important;
    font-weight:100;
    text-rendering:auto;
    padding:30px;
    text-align:center;
}

/* ==========================================================================
    Header
   ========================================================================== */


/* ==========================================================================
    Footer
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */


/* ==========================================================================
    -
   ========================================================================== */

