@charset "utf-8";

/* ==========================================================================
    Variables
   ========================================================================== */


$base-bgcolor:#ffffff;
$base-fontcolor:#1a1a1a;
$base-fontfamily:'Hiragino Sans GB',Helvetica,Arial,'Microsoft Yahei',sans-serif;
$base-maxwidth:930px;

$theme-maincolor:#3981ca;

/* animate */
$animate-speed:250ms;

